
<div class="container">
  <div class="row">
    <div class="col-4">
    <h2>検索結果</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-10 pt-3">
      <div class="row row-cols-1 row-cols-md-4 g-4">
      <% @items.each do |item| %>
        <div class="col">
          <div class="card h-100">
            <%= link_to public_item_path(item.id) do %>
              <%= image_tag item.get_image, class: "card-img-top", size: "150x150" %>
            <% end %>
            <div class="card-body">
              <h6 class="card-title"><%= item.name %></h6>
              <p class="card-text"><%= item.genre.name %></p>
              <p class="card-text"><%= item.add_tax_price.to_s(:delimited) %>円</p>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="offset-5">
    <div class="text-center">
      <%= paginate @item %>
    </div>
  </div>
</div>