<p class="text-center">会員一覧</p>
<div class="d-flex justify-content-center">
  <div class="mx-auto">
    <table class="table">
      <thead class="table-secondary">
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      
  <% @customers.each do |customer| %>
    <tbody>
      <tr>
        <td><%= customer.id%></td>
        <td><%= customer.familly_name%><%= customer.first_name%></td>
        <td><%= customer.email%></td>

        <td><% if customer.is_deleted == true %>
        退会済み
        <%else%>
      　有効
        <%end%>
        </td>
      </tr>
    </tbody>
  <%end%>
    </table>
    <div class="text-center"><%= paginate @customers %></div>
  </div>
</div>
