

<div class="container">
<h4>ジャンル一覧・追加</h4>
<%= form_with model: @genre, url: 'genres' do |f| %>

　　<div class="center-block">
　　  <div class="row">
        <div>ジャンル名</div>
          <%= f.text_field :name %>
          <%= f.submit '新規登録', class: 'button_custom btn btn-primary center-block' %>
      </div>
    </div>
<% end %>

　　　<div class="col-md-4">
      <table class="table table-condensed">
        <tr>
          <th>ジャンル</th>
          <th></th>
        </tr>
    <% @genres.each do |genre| %>
        <tr>
            <td><%= genre.name %></td>
            <td><%= link_to edit_admin_genre_path(genre.id) do %>
             編集する<%end%></td>
        </tr>
    <% end %>
      </table>
    　</div>
</div>
</div>