<div class="container">
  <div class="row">
    <div class="col-2">
     <table class="table text-center">
        <thead class="table-light"><th>ジャンル検索</th></thead>
        <tr>
            <td><%= link_to public_items_path do %>すべての商品<% end %></td>
          </tr>
        <% @genres.each do |genre| %>
          <tr>
            <td><%= link_to "/items?genre_id=#{genre.id}" do %><%= genre.name %><% end %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="col-4">
      <div class="card">
        <%= image_tag @item.get_image, class:"card-img", size: "250x250" %><%#商品画像%>
      </div>
    </div>
    <div class="col-5">
      <p>
        <font size="5"><%= @item.name %></font>
      </p><%#商品名%>
      <p><%= @item.introduction %></p><%#商品説明%>
      <p><font size="5">¥<%= @item.add_tax_price.to_s(:delimited) %></font></p><%#商品価格%>

      <!--カートに入れるボタンをここに-->

    </div>
  </div>
  <div class="row text-right">
    <div class="col-11">
      <% if @item.is_status == TRUE %> <%#商品販売中の場合%>
        <%= form_with(model: @cart_item, url: public_cart_items_path, method: :post, local: true)do |f| %>
          <%= f.label :amount, "個数選択" %>
            <%= f.select :amount, *[1..10] %>
          <%= f.hidden_field :item_id, :value => @item.id %>

          <%= f.submit "カートに入れる", name: nil, class: "btn btn-success btn-sm" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

