<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><%= image_tag('logo.png') %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>
          <li>
            <%= link_to '/customers/:id',class: 'nav-link text-light' do %>
              <button type="button" class="btn btn-outline-info">マイページ</button>
            <% end %>
          </li>
          <li>
            <%=  link_to 'items',class: 'nav-link text-light' do %>
              <button type="button" class="btn btn-outline-info">商品一覧</button>
            <% end %>
          </li>
          <li>
            <%=  link_to '/cart_items',class: 'nav-link text-light' do %>
              <button type="button" class="btn btn-outline-info">カート</button>
            <% end %>
          </li>
          <li>
            <%= link_to  '/customers/sign_out', method: :delete,class: 'nav-link text-light' do %>
              <button type="button" class="btn btn-outline-info">ログアウト</button>
            <% end %>
          </li>

        <% else %>
          <li>
            <%= link_to'/about',class: 'nav-link text-light' do %>
              <button type="button" class="btn btn-outline-info">About</button>
            <% end %>
          </li>
          <li>
            <%= link_to 'items',class: 'nav-link text-light' do %>
              <button type="button" class="btn btn-outline-info">商品一覧</button>
            <% end %>
          </li>
          <li>
            <%= link_to '/customers/sign_up',class: 'nav-link text-light' do %>
              <button type="button" class="btn btn-outline-info">新規登録</button>
            <% end %>
          </li>
          <li>
            <%= link_to '/customers/sign_in',class: 'nav-link text-light' do %>
              <button type="button" class="btn btn-outline-info">ログイン</button>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>